In [1]:
#get all excel files in the data directory
import os
excel_files = [f for f in os.listdir('data') if f.endswith('.xlsx')]
print(excel_files)

['lp1.xls( failure1).xlsx', 'lp5.txt( failures in motion with part).xlsx', 'lp4.txt(failures in approach to ungrasp position).xlsx', 'lp3.xls(position of part after a transfer failure).xlsx', 'lp2.xls(failures in transfer of a part).xlsx']

In [4]:
print('Hello, world!')
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
for execfile in excel_files:
    df = pd.read_excel(f'data/{execfile}')
    df.head(20)
    # delete empty rows
    df = df.dropna(how='all')
    df.head(20)
    #fill empty celles in class column based on the previous value
    df['class'] = df['class'].fillna(method='ffill')
    df.head(20)
    # delete rows with missing values
    df = df.dropna()

    # apply ordinal encoder to the class column 
    
    encoder = OrdinalEncoder()
    df['class-oridnal'] = encoder.fit_transform(df[['class']])
    df.head(20)

    df.to_excel(f'cleaned-data/cleaned-{execfile}', index=False)

Hello, world!

In [21]:
df.describe()

       class-oridnal
count    1321.000000
mean        1.819076
std         1.144075
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1321 entries, 1 to 1581
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   class          1321 non-null   object
 1   Fx             1321 non-null   object
 2   Fy             1321 non-null   object
 3   Fz             1321 non-null   object
 4   Tx             1321 non-null   object
 5   Ty             1321 non-null   object
 6   Tz             1321 non-null   object
 7   class-oridnal  1321 non-null   float64
dtypes: float64(1), object(7)
memory usage: 92.9+ KB