In [1]:
#get all excel files in the data directory
import os
excel_files = [f for f in os.listdir('data') if f.endswith('.xlsx')]
print(excel_files)

['lp1.xls( failure1).xlsx', 'lp2.xls(failures in transfer of a part).xlsx', 'lp3.xls(position of part after a transfer failure).xlsx', 'lp4.txt(failures in approach to ungrasp position).xlsx', 'lp5.txt( failures in motion with part).xlsx']

In [2]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
for execfile in excel_files:
    df = pd.read_excel(f'data/{execfile}')
    df.head(20)
    # delete empty rows
    df = df.dropna(how='all')
    df.head(20)
    #fill empty celles in class column based on the previous value
    df['class'] = df['class'].fillna(method='ffill')
    df.head(20)
    # delete rows with missing values
    df = df.dropna()

    # apply ordinal encoder to the class column 
    
    encoder = OrdinalEncoder()
    df['class-oridnal'] = encoder.fit_transform(df[['class']])
    df.head(20)

    df.to_excel(f'cleaned-data/cleaned-{execfile}', index=False)

In [3]:
df.describe()

,Fx,Fy,Fz,Tx,Ty,Tz,class-oridnal
count,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000,2460.000000
mean,0.081301,-6.619919,-92.172358,1.210163,-5.078049,-3.348374,2.250000
std,61.002329,47.449679,509.211974,65.809967,71.855830,19.966548,1.390032
min,-883.000000,-382.000000,-3617.000000,-824.000000,-725.000000,-248.000000,0.000000
25%,-5.000000,-5.000000,-5.000000,-9.000000,-17.000000,-6.000000,1.000000
50%,-2.000000,0.000000,10.000000,0.000000,-5.000000,-2.000000,2.000000
75%,2.000000,2.000000,74.000000,5.000000,3.000000,1.000000,4.000000
max,462.000000,438.000000,418.000000,1016.000000,756.000000,244.000000,4.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2460 entries, 0 to 2948
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   class          2460 non-null   object
 1   Fx             2460 non-null   float64
 2   Fy             2460 non-null   float64
 3   Fz             2460 non-null   float64
 4   Tx             2460 non-null   float64
 5   Ty             2460 non-null   float64
 6   Tz             2460 non-null   float64
 7   class-oridnal  2460 non-null   float64
dtypes: float64(7), object(1)
memory usage: 173.0+ KB