In [3]:
#get all excel files in the data directory
import os
excel_files = [f for f in os.listdir('cleaned-data') if f.endswith('.xlsx')]
print(excel_files)

['cleaned-lp1.xls( failure1).xlsx', 'cleaned-lp3.xls(position of part after a transfer failure).xlsx', 'cleaned-lp4.txt(failures in approach to ungrasp position).xlsx', 'cleaned-lp5.txt( failures in motion with part).xlsx', 'lp2_cleaned.xlsx']

In [5]:
import pandas as pd

# Method 1: Using a raw string
file_path = f'cleaned-data/{excel_files[0]}'


# Load the Excel file
df = pd.read_excel(file_path)
print(df.head())

    class  Fx  Fy  Fz  Tx  Ty Tz  class-oridnal
0  normal  -1  -1  63  -3  -1  0              2
1  normal   0   0  62  -3  -1  0              2
2  normal  -1  -1  61  -3   0  0              2
3  normal  -1  -1  63  -2  -1  0              2
4  normal  -1  -1  63  -3  -1  0              2

In [6]:
import pandas as pd

# Method 1: Using a raw string
file_path = f'cleaned-data/{excel_files[1]}'


# Load the Excel file
df = pd.read_excel(file_path)
print(df.head())

  class  Fx  Fy  Fz  Tx  Ty  Tz  class-oridnal
0    ok  -2  -1  81   0  -5   0              2
1    ok  -2  -1  79   0  -4   0              2
2    ok  -2  -1  79   0  -4   0              2
3    ok  -2  -1  80   0  -4   0              2
4    ok  -3  -1  79   1  -5   1              2

In [7]:
import pandas as pd

# Method 1: Using a raw string
file_path = f'cleaned-data/{excel_files[2]}'


# Load the Excel file
df = pd.read_excel(file_path)
print(df.head())

    class  Fx  Fy  Fz  Tx  Ty  Tz  class-oridnal
0  normal  -2   2  20   5  -6  -1              1
1  normal  -2   1  20   5  -6   0              1
2  normal  -2   1  23   5  -6   0              1
3  normal  -2   2  20   5  -6  -1              1
4  normal  -3   1  22   5  -6  -1              1

In [8]:
import pandas as pd

# Method 1: Using a raw string
file_path = f'cleaned-data/{excel_files[3]}'


# Load the Excel file
df = pd.read_excel(file_path)
print(df.head())

    class  Fx  Fy  Fz  Tx  Ty  Tz  class-oridnal
0  normal  -2  -1  81   0  -5   0              4
1  normal  -2  -1  79   0  -4   0              4
2  normal  -2  -1  79   0  -4   0              4
3  normal  -2  -1  80   0  -4   0              4
4  normal  -3  -1  79   1  -5   1              4

In [10]:
import pandas as pd

# Method 1: Using a raw string
file_path = f'cleaned-data/{excel_files[4]}'


# Load the Excel file
df = pd.read_excel(file_path)
# print(df.head())
df

        class  Fx  Fy  Fz  Tx  Ty  Tz  class-oridnal
0      normal  -2  -1  81   0  -5   0              3
1      normal  -2  -1  79   0  -4   0              3
2      normal  -2  -1  79   0  -4   0              3
3      normal  -2  -1  80   0  -4   0              3
4      normal  -3  -1  79   1  -5   1              3
..        ...  ..  ..  ..  ..  ..  ..            ...
700  back_col   3  -3  85  -9   1  -2              0
701  back_col  -4   4  85 -15  -8  -2              0
702  back_col  -1   3  80 -13  -2   0              0
703  back_col  -8   2  87  -7 -16   0              0
704  back_col -10   1  80  -7 -24  -4              0

[705 rows x 8 columns]

In [ ]:
import pandas as pd

# Method 1: Using a raw string
file_path = r'cleaned-data/cleaned-lp1.xls( failure1).xlsx'

# OR Method 2: Using forward slashes
# file_path = 'C:/Users/merih/Downloads/ml_project/robot/lp2_cleaned.xlsx'

# Load the Excel file
df = pd.read_excel(file_path)
print(df.head(20))